@font-face {
    font-family: Alexandria;
    src: url('../../fonts/Alexandria/Alexandria-Regular.ttf');
}

@font-face {
    font-family: Noto Sans;
    src: url('../../fonts/Noto_Sans/NotoSansJP-Regular.otf');
}