// Colors
$white: #eeeeee;
$bg-blue: #26334b;
$grey: #B0ADA8;
$yellow: #F7C100;
$black: #1c1c1c;
$mint: #97F0BB;
$bg: #BDD3FF;
$pink: #FFA3FF;
// LAYOUT
$layoutPadding: 20px;

// Breakpoints
$mobile-breakpoint: 480px;
$tablet-breakpoint: 780px;
$desktop-breakpoint: 1020px;
$wide-dekstop-breakpoint: 1300px;