html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: Noto Sans;
    font-size: 18px;
    font-weight: 600;
    color: $black;
    background-color: $bg;
    width: 100%;
}

a {
    text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}