html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: Noto Sans;
    font-size: 18px;
    font-weight: 600;
    color: $black;
    background-color: $bg;
    width: 100%;
}

input,
button {
    border: none;
    font-family: Noto Sans;
    padding: 10px;
    font-weight: 700;
    border-radius: 10px;

    &:hover {
        cursor: pointer;
    }
}

button {
    background-color: $yellow;
    transition: 0.2s;
    // box-shadow: 1px 1px 5px $grey;

    &:hover {
        background-color: $pink;
        color: $white;
    }
}

a {
    text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}